{% extends 'home.html.twig' %}

{% block body %}
        <div class="home-container">
            <h1><i class="material-icons text-orange">rss_feed</i>Welcome to <span class="text-orange">Merge-it</span></h1><br/><br/>
            <p>You need to merge several <span class="text-orange">RSS feeds</span> into a single one ?</p>
            <p>You have to <span class="text-orange">keep tracks</span> of your aggregated feeds to edit them in the future ?</p><br/>
            <p>Handle and manage all your feeds from here and insert <span class="text-orange">a single RSS url</span> into your software ! :)</p>
        </div>
{% endblock %}
