{% extends 'home.html.twig' %}

{% block body %}
    <div class="home-container">
        <h1><i class="material-icons text-orange">rss_feed</i>What is<span class="text-brand"> Merge-it </span> ?</h1>
        <p>You need to merge several <span class="text-bold">RSS feeds</span> into a single one ?</p>
        <p>You have to <span class="text-bold">keep tracks</span> of your aggregated feeds to edit them in the future ?</p>
        <p>Handle and manage all your feeds from here and insert <span class="text-bold">a single RSS url</span> into your software</p>
        <a class="btn btn-success btn-raised btn-lg" href="/register">Sign up now</a>
    </div>
{% endblock %}
{% block page_content %}
    <h2>How does it work ?</h2>
    <div class="row is-flex">
        <div class="col col-sm-4">
            <div class="col-content">
                <i class="material-icons">rss_feed</i>
                <p>
                    Add all your rss feeds into your profile page.<br/><br/>
                    It can be RSS feeds from news website, torrent website, or anything you want.
                </p>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="col-content">
                <i class="material-icons">call_merge</i>
                <p>
                    Create a merged feed from your private access and choose feeds to aggregate.<br/><br/>
                    <span class="text-brand"> Merge-it </span> will then generate a new feed combining previously selected feeds.<br/>
                </p>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="col-content">
                <i class="material-icons">add_to_queue</i>
                <p>
                    Add this new feed into your software (your torrent client, your NAS or your differents news softwares ...)<br/><br/>
                    Next time you want to add a new feed, don't worry about the configuration of your different softwares or connecting to your NAS.<br/><br/>
                    You just have to add it into <span class="text-brand"> one of your Merge-it feeds</span>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
