{% extends 'base.html.twig' %}

{% block body %}
    <h1>MergedFeed creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success btn-raised" type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="btn btn-info btn-raised" href="{{ path('user_merged_index') }}">Back to the list</a>
{% endblock %}
